.invisible{
  visibility: hidden;
}

.venus-container *{
  box-sizing: border-box;
}

.venus-container{
  margin: auto;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.venus-base{
  position: absolute;
  transition-property: transform;
  transition-duration: 900ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 598px;
  height: 600px;
}

.venus-base img{
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}